includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
    excludePaths:
        - */tests/*
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false